# symlinks for convenience
afternoon.html
evening.html
animalexpedition.html
./animalexpedition

# do not ignore what the symlink points to
!./codeadvantage

scripts/__pycache__/
scripts/blog_index.py

.DS_Store
**/.DS_Store
tidings.json
