:root {
    --link-color-light: #40a2b8;
    --link-color-hover: #ffabf9;
    --bg-light: #fdfcee; /* alternatives: e8e1d0, cornsilk, ivory, floralwhite, mistyrose, oldlace, */
    --bg-light-secondary: #a4a396;
    --bg-dark: #1c2f28; /*#262626;*/
    --fg-light: #646464;
    --fg-light-secondary: #b2b1aa;
    --fg-dark: #e3e0d7;
    --fg-dark-secondary: #b2b1aa;
    --fg-light-accent: palevioletred;
}

html {
    min-height: 100%;
}

@font-face {
    font-family: 'Cascadia Code PL';
    src: url('/assets/fonts/CascadiaCodePL.woff2') format('woff2');
}

pre, code {
    font-family: 'Cascadia Code PL', 'Menlo', 'Courier New', monospace;
}

code {
    font-size: 1rem;
}

.date, #date {
    color: var(--fg-light-secondary);
}

.date.dark-mode, #date.dark-mode {
    color: var(--fg-dark-secondary);
}

.gallery figure {
    margin-left: 0;
}

p .warning {
    color: red;
}
.dark-mode p .warning {
    color: tomato;
}

/* prose */
div.prose p {
    margin-bottom: 15px;
    text-indent: 2rem;
}

div.prose hr {
    text-align: center;
    border: none;
    line-height: 2rlh;
    &:before {
        content: "*";
    }
}

div.prose h2 {
    border-bottom: 1px solid var(--fg-light-secondary);
    margin-bottom: 15px;
}

div.prose br {
    line-height: 2rlh;
}
/* end prose */

/* poem */
div.poem {
    /*padding-left: 1rem;*/
    text-indent: -1rem;
}

div.poem ul {
    list-style: none;
    margin-left: 1rem;
    padding-left: 0;
}
div.poem ul ul {
    margin-left: 1rem;
}

a {
    color: var(--link-color-light);
    text-decoration: none;
}

a:hover {
    color: var(--link-color-hover) !important;
}

details.details {
    padding-left: 15px;
    margin-left: 15px;
    padding-bottom: 5px;
    /*border: 1px solid var(--fg-light);
    border-radius: 10px;*/
}

details.details.dark-mode {
    /*border: 1px solid var(--fg-dark);*/
}

.tooltip {
  position: relative;
  text-decoration: underline dotted; /* Add a dashed underline */
  cursor: help; /* Change the cursor to a help cursor on hover */
}

.tooltip::before {
  content: attr(data-title);
  position: absolute;
  background: #464646;
  color: #e3e0d7;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.8em;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip:hover::before {
  opacity: 1;
}

.indent {
    margin-left: 2rem;
}

body {
    font-size: clamp(1.1rem, 1vw, 16px);
    font-family: 'Lora', 'Garamond', serif;
    background-color: var(--bg-light);
    color: var(--fg-light);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    /*
    text-align: justify;
    text-justify: inter-word;
    */
}

.tinytop {
    font-size: 12px;
    vertical-align: super;
    font-weight: normal;
}

pre {
    font-size: 80%;
    border-left: 1px solid var(--fg-light);
    overflow: auto;
    padding-left: 2rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.col {
    /* elements arranged in a column */
    flex-direction: column;
}

.row {
    /* elements arranged in a row */
    flex-direction: row;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flexwrap > div {
    padding: 10px;
    margin: 10px;
    align-self: flex-start;
}

@media screen and (max-width: 800px) {
    body {
        font-size: clamp(1.1rem, 1vw, 16px);
        max-width: 100%;
    }

    .flex {
        display: block;
    }
}

body.dark-mode {
    color: var(--fg-dark);
    background-color: var(--bg-dark);
}


div#container {
    border-top: 4px solid #fcfcff;
    border-left: 4px solid #eef1f1;
    border-right: 4px solid #ddeaea;
    border-bottom: 4px solid #bcc;
    border-radius: 5px;
    padding: 2em 5em 2em;
}

div#container.dark-mode {
    border-top: 4px solid #fffcff;
    border-left: 4px solid #f1eef1;
    border-right: 4px solid #eaddea;
    border-bottom: 4px solid #cbc;
}

button#hide-button {
    float: right;
    clear: both;
}

div#show {
    display: none;
    text-align: center;
}

button#show-button {
    float: right;
    clear: both;
}

button.fancybutton {
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
    border: 2px solid var(--fg-light);
    border-radius: 4px;
    color: inherit;
    padding: 1px 2px;
    display: inline-block;
    text-align: center;
    transition: 0.2s;
}

button.fancybutton.dark-mode {
    border: 2px solid var(--fg-dark);
}

button.fancybutton:hover {
    font-weight: bold;
}

/*button#dark-mode-button:hover {*/
button#dark-mode-button:hover {
    cursor: pointer; 
    transform: scale(1.3);
    transition: 0.2s;
}

/*
@media screen and (max-width:600px) {
    button {
        font-size: 2rem;
        background-color: red;
    }
}
*/

/*
footer {
    margin: 0em auto 0em;
    text-align: center;
}
*/

footer {
    margin-top: 2em;
    border-top: 1px solid #646464;
}

nav {
    font-weight: bold;
    font-size: 100%;
    /*padding-bottom: 10px;*/
}

nav .active {
    text-decoration: underline;
}

nav.secondary {
    font-weight: normal;
}

.dark-mode hr {
    color: var(--fg-dark);
}

canvas .absolute {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

div {
    z-index: 0;
}

canvas .background {
    width: 100%;
    height: 100%;
}

ul.nobullet, .nobullet > ul {
    list-style-type: none;
}

.nobullet li + li {
    margin-top: 20px;
}

ul.nosep li + li, .nosep > ul li + li {
    margin-top: 0;
}

ul.deindent, .deindent > ul {
    text-indent: -1rem;
}

#return {
    bottom: 20px;
    position: fixed;
    left: 30px;
    border: none;
    outline: none;
    background-color: var(--fg-light);
    color: var(--fg-dark);
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    z-index: 99;
}

@media screen and (max-width: 800px) {
    #return {
        font-size: 12px;
        padding: 5px;
        border-radius: 2px;
        left: 20px;
        bottom: 15px;
    }
}
