:root {
    /* invert colors */
    /*--fg-light: #e3e0d7;
    --bg-light: #252a22;
    --fg-light-secondary: #b2b1aa;
    --link-color-visited: #d26adb;*/
    --bg-dark: #252a22;
}

body {
    text-align: center;
}

article.article img {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 5px;
}

figcaption {
    max-width: 40ch;
    margin: auto;
    padding: 10px 30px 30px;
    /*font-size: 120%;*/
    text-align: justify;
    text-align-last: center;
    text-justify: inter-word;
    hyphens: auto;
    word-break: break-word;
}

ul {
    max-width: 35rem;
    padding: 0;
    list-style-type: none;
    margin: auto;
}

figcaption::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--fg-light-secondary);
    width: 10rem;
    margin: auto;
    padding-top: 20px;
    border-radius: 1px;
}

figure {
    margin-left: 0;
    margin-right: 0;
    margin-top: 17px;
    margin-bottom: 17px;
}

@media screen and (max-width: 800px) {
    img {
        max-width: 75vw;
    }
}

.cursive {
    font-family: cursive;
}
