<header>
    <div>
        <div style="display: inline-block;">
            <button onclick="toggleDarkMode()" type="button"
                                               id="dark-mode-button" style="border: none;"><div style="filter: hue-rotate(180deg) grayscale(90%);">🌕</div></button>
            <script>
// Start light
function goDark() {
    document.body.classList.add('dark-mode');
    document.getElementById('dark-mode-button').innerHTML = "☀️";
    localStorage.setItem('dark-mode', 'enabled');
}

function goLight() {
    document.body.classList.remove('dark-mode');
    document.getElementById('dark-mode-button').innerHTML = '<div style="filter: brightness(400%) grayscale(90%);">🌑</div>';
    localStorage.setItem('dark-mode', null);
}

function toggleDarkMode() {
    var containerClasses = document.body.classList;
    if (containerClasses.contains('dark-mode')) {
        goLight();
    } else {
        goDark();
    }
}

if (localStorage.getItem('dark-mode') === 'enabled') {
    goDark();
}
            </script>
        </div>
        <div style="display: inline-block;">
            <nav>
                <a href="/index.html">Home</a>
                &centerdot;
                <a href="/blog/index.html">Blog</a>
            </nav>
        </div>
    </div>
</header>
