<header>
    <div>
        <div style="display: inline-block;">
            <nav>
                <a id="nav-home" href="/">Home</a>
                &centerdot;
                <a id="nav-tidings" href="/tidings/">Tidings</a>
                &centerdot;
                <a id="nav-garden" href="/garden/">Garden</a>
                &centerdot;
                <a id="nav-now" href="/now.html">Now</a>
                &centerdot;
                <div style="display: inline-block;">
                    <button class="fancybutton" title="Dark mode" onclick="toggleDarkMode()" type="button"
                                                       id="dark-mode-button" style="border: none;"><div style="filter: hue-rotate(180deg) brightness(105%) grayscale(90%);">🌕</div></button>
                    <script>
        // Start light
        function goDark() {
            document.body.classList.add('dark-mode');
            document.getElementById('dark-mode-button').innerHTML = "☀️";
            document.getElementById('dark-mode-button').title = "Light mode";
            localStorage.setItem('dark-mode', 'enabled');
        }

        function goLight() {
            document.body.classList.remove('dark-mode');
            document.getElementById('dark-mode-button').innerHTML = '<div style="filter: hue-rotate(180deg) brightness(105%) grayscale(90%);">🌕</div>';
            document.getElementById('dark-mode-button').title = "Dark mode";
            localStorage.setItem('dark-mode', null);
        }

        function toggleDarkMode() {
            var containerClasses = document.body.classList;
            if (containerClasses.contains('dark-mode')) {
                goLight();
            } else {
                goDark();
            }
        }

        if (localStorage.getItem('dark-mode') === 'enabled') {
            goDark();
        }
                    </script>
                </div>
            </nav>
        </div>
    </div>
</header>
