body {
    font-size: 1.2rem;
    font-family: 'Lora', 'Garamond', serif;
    background-color: #fdfcee;
    color: #646464;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    text-justify: inter-word;
}

article {
    margin: auto;
    padding: 10px;
}

p, ul, ol, figcaption, a, blockquote, h1, h2, h3, h4, h5, h6, nav, pre, footer {
    max-width: 35rem;
}

blockquote {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-style: italic;
    font-size: 90%;
    position: relative;
    text-align: justify;
    text-justify: inter-word;
}

blockquote.fancyquote:before {
    color: #949494;
    font-family: Georgia, serif;
    font-size: 6em;
    top: -0.15em;
    left: -0.5em;
    line-height: 1;
    content: "\201c";
    position: absolute;
}

blockquote.fancyquote:after {
    color: #949494;
    font-family: Georgia, serif;
    float: right;
    font-size: 6em;
    bottom: -0.65em;
    right: -0.35em;
    line-height: 1;
    content: "\201d";
    position: absolute;
}

.flex {
    display: flex;
}

@media screen and (max-width: 800px) {
    body {
        font-size: clamp(1.2rem, 1vw, 1.5rem);
        max-width: 100%;
    }

    .flex {
        display: block;
    }
}

ul.nobullet {
    list-style-type: none;
}
