body {
    background: url("/assets/img/background/pattern.png");
    background-size: 100%;
    background-repeat: repeat;
}

article {
    background: var(--bg-light);
    border: 2px solid var(--fg-light);
    border-radius: 15px;
}

nav {
    position: relative;
    top: 2px;
    z-index: 99;
    background: var(--bg-light);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7.5px;
    border-top: 2px solid var(--fg-light);
    border-left: 2px solid var(--fg-light);
    border-right: 2px solid var(--fg-light);
    border-radius: 12.5px 12.5px 0px 0px;
}
